# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are summerized.

**Objectives:
- Popular languages used by data scientists
- Commonly used libraries in data science
- Some examples of arithmatic expressions
- Convert 200 minutes to hours

Some of the popular languages data scientists use are

1. Python
2. R
3. Sql

Some of the commonly used libraries by data scientists include:
1. Tensorflow
2. Numpy
3. Pandas

| Data Science Tools |
|--------------------|
|Jupyter Notebook |
| Matlab |
| Matplotlib |

### Below are the few examples of evaluating arithmetic expressions in Python

This is a simple arithmatic expression to multiply then add numbers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [8]:
minutes = 200
hours =float(200/60)
print(float(hours))

3.3333333333333335

## Author
Sreejith